propel:
    paths:
        schemaDir: /var/www/php/libro/config
        outputDir: /var/www/php/libro/config/propel
        phpDir: /var/www/php/libro/src
        sqlDir: /var/www/php/libro/config/propel/generated-sql
        phpConfDir: /var/www/php/libro/config
    generator:
        objectModel:
            defaultKeyType: camelName