<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="{{ app.assets_path }}/css/main.css" />
      <link rel="stylesheet" type="text/css" href="{{ app.assets_path }}/css/dashboard.css" />
    {% endblock %}
  </head>
  <body>
    {% include 'base/navbar.twig' %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          {% include 'base/side.twig' %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% block scripts %}
      <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>