{% extends 'base/base.twig' %}
{% block title %}Nuevo Socios{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
<h1 class="page-header">Nuevo Socio</h1>
  {% include 'flashbag.twig' %}

<div class="well-sm"><form class="form-horizontal" method="post">
    {{ form_widget(form) }}
</form></div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
{% endblock %}